# Node.js
node_modules/
**/node_modules/
npm-debug.log
**/npm-debug.log
yarn-error.log
**/yarn-error.log
.env
**/.env
.package-lock.json
**/.package-lock.json
yarn.lock
**/yarn.lock
dist/
**/dist/
dist/*
**/dist/*
!dist/.gitkeep
**/!dist/.gitkeep
dist/**/*
**/dist/**/*
!dist/**/.gitkeep
**/!dist/**/.gitkeep
build/
**/build/
build/*
**/build/*
!build/.gitkeep
**/!build/.gitkeep
build/**/*
**/build/**/*
!build/**/.gitkeep
**/!build/**/.gitkeep

# Logs
logs
*.log
logs/*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Optional coverage directory
coverage/

# Optional directories for test coverage
.nyc_output/

# Optional IDE directories
.vscode/
.idea/
